@font-face{
    font-family: 'Gilda Display';
    src: url('../font/Gilda_display/GildaDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cheque Bold';
    src: url('../font/Cheque/Cheque-Black.otf') format('opentype');
}

* {
    margin: 0px;
}

body{
    font-family: 'Gilda Display';
    background-image: url("../image/bg_patisserie.jpg");
    background-attachment: fixed;
    text-align:center;
    display:grid;
    grid-template-rows: auto 1fr auto; 
    min-height:100vh;
}

header{
    font-family: 'Cheque Bold';
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(246, 239, 222, 0.9);
}

#barreRecherche{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(246, 239, 222, 0.9);
    display: none;
}

.categorieRecherche{
    display: flex;
    border-style: solid;
    border-color: #bfb4ad;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 1vw;
    height: 5vw;
    font-size: 2.5vw;
    align-items: center;
}

#croixRecherche{
    width: fit-content;
}

.txt_recherche{
    padding: 1vw;
}

.croix{
    width: 35px;
    height: 35px;
}

.titre_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
}

.titre{
    display: flex;
    justify-content: center;
}

.petit_titre{
    font-family: 'Gilda Display';
    display: flex;
    justify-content: center;
    font-size: 1.75vw;
}

#img_eclair{
    margin-top: 3.3vw;
    rotate: 60deg;
    width: 16.5vw;
}

#img_ampoule{
    margin-top: 2vw;
    width: 14.5vw;
    margin-bottom: 3vw;

}

#navBarr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(246, 239, 222, 0.9);
}

#barreAutre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#barreCategorie{
    display: flex;
    flex-direction: row;
    padding: 1.25vw;
    flex-wrap: wrap;
}

.categorieCheckBox{
    flex-wrap: wrap;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 2vw;
}

#img_form{
    height: 5vw;
    width: 5vw;
    margin: 1vw;
    margin-left: 1vw;
}

#img_accueil{
    display: none;
    height: 5vw;
    width: 5vw;
    margin: 1vw;
    margin-left: 1vw;
}

.connexion{
    margin-left: 1vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
}

#connexion h1 {
    font-size: 3.5vw;
}

#connexion_txt {
    display: flex;
    justify-content: center;
    position: relative;
}

#connexion_txt_mobile {
    display: flex;
    justify-content: center;
    position: relative;
    display: none;
}

#accueil_txt {
    display: none;
    justify-content: center;
    position: relative;
}

.search{
    display: flex;
}

#search_input{
    display: flex;
    justify-content: right;
    border-style: none;
    font-size: 20px;
    width:17.5vw;
    height: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#search_form{
    display: flex;
    flex-direction: row;
}

#img_loupe{
    width: 3.5vw;
    height: 3.5vw;
    margin: 1.75vw 1vw 1vw 1vw;
}

.formCategorie{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: rgb(246, 239, 222);
    position: absolute;
    z-index: 3;
    width: 100%;
}

#formGateau{
    display: none;
}

#formDifficulte{
    display: none;
}

#formCout{
    display: none;
}

#formAutre{
    display: none;
}

/* CSS Page Accueil */

.recipesAndCategories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    align-items: center;

}

.randomRecipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vw;
    background-color: rgba(246, 239, 222, 0.9);
}

.recipeTitle{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 2vw;
}

.recipeView{
    display: flex;
    justify-content: center;
}

.arrow{
    width: 3.5vw;
}

.little_arrow{
    width: 20px;
}

.right_arrow{
    rotate: -90deg;
}

.left_arrow{
    rotate: 90deg;
}



#slider{
    align-items: center;
    width: 80%;
    margin: 2vw;
    max-height: 35vw;
    max-width: 32.5vw;
    position:relative;
    overflow:hidden;
    border: 10px solid white;
    box-shadow:2px 5px 10px rgba(0,0,0,0.4);
    background-color: white;
}

.slide{
    width:100%;
    display:none;
    /*animation-name:fade;
    animation-duration:1s;*/
}

@keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
}

#dots-con{
    text-align:center;

}

.dot{
    display:inline-block;
    background:rgb(246, 239, 222);
    padding:8px;
    border-radius:50%;
    margin:10px 5px;
    height: 0.1vw;
    width: 0.1vw;
}

.active{
    background: grey;
}

.controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px;
    border-radius:5px;
}

.controls:active{
    color:grey;
}

#left-arrow{
    left:10px;
}

#right-arrow{
    right:10px;
}

.bouffe{
    width: 30vw;
}

.categorie{
    display: none;
    font-size: 20px;
    background-color: rgba(246, 239, 222, 0.9);
    margin: 10%;
    padding: 40px;
}

#menu ul {
    list-style-type: square;
}

#menu ul li ul {
    display: none;
    list-style: none;
}

#menu ul li:hover ul {
    display:block;
}

li form {
    flex-wrap: wrap;
}

/* CSS Page Inscription */

#inscription{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 239, 222, 0.9);
    margin: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
    height: 40vw;
}


#inscription h1 {
    font-size: 3.5vw;
}

#inscriptionFromConnexion{
    border-style: none;
    background: none;
    font-family: 'Gilda Display';
    font-size: 1vw;
}

#inscriptionFromConnexion:hover{
    background-color: aliceblue;
}

#connexionFromInscription{
    border-style: none;
    background: none;
    font-family: 'Gilda Display';
    font-size: 1vw;
}

#connexionFromInscription:hover{
    background-color: aliceblue;
}

#form_inscription{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* CSS Page Connexion */

#connexion{
    display: none;
    flex-direction: column; 
    align-items: center;
    background-color: rgba(246, 239, 222, 0.9);
    margin: 10%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px;
}

#form_connexion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#boutonChangeUtilisateur {
    display: flex;
    text-align: center;
    padding: 0;
    outline: none;
}

h1{
    font-family: 'Cheque Bold';
    font-size: 45px;
}

.entre_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
    font-size: 1vw;
    align-items: center;
}

.champs_form{
    background-color: rgb(246, 239, 222);
    font-family: 'Gilda Display';
    border-style: solid;
    font-size: 1.6vw;
    border-color: #bfb4ad;
    border-radius: 7px;
    padding: 0.5vw;
    margin: 0.5vw;
    width: 70%;
}

.valide_form{
    display: flex;
    justify-content: center;
}

.valideChoix{
    font-family: 'Gilda Display';
    background-color: #bfb4ad;
    border-style: solid;
    font-size: 1.8;
    padding-left: 3vw;
    padding-right: 3vw;
}


/* CSS Footer */

footer{
    background-color: rgba(246, 239, 222, 0.9);
}

#pieds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5vw;
}

.reseaux{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.iconeRes{
    display: flex;
    width: 2.25vw;
}

.mention{
    display: flex;
    justify-content: center;
    font-size: 1.25vw;
    padding: 1vw;
}

#backToTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: min-content;
    padding: 1vw;
}

.up_arrow{
    rotate: 180deg;
}



.wrapper {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 1vw;
  margin: 1vw;
  width: 3.25vw;
  height: 3.25vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 1vw;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu ul li:hover ul {
    display:block;
}


.bouton {
  letter-spacing: 0.1em;
  cursor: pointer;
  line-height: 5vw;
  max-width: 28.5vw;
  text-transform: uppercase;
  padding-left: 1.5vw;
  font-family: 'Gilda_display';
  align-items: center;
  font-size: 1.3vw;
  margin: 0.8vw;
  padding-right: 1.5vw;
}

.bouton:hover {
  text-decoration: none;
}

/*btn_background*/
.lien {
  color: #000;
  border: 4px solid #bfb4ad;
  background-color: #bfb4ad;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.lien:hover {
  border: 0.5vw solid #bfb4ad;
  background-color: rgba(246, 239, 222, 0.9 );
  box-shadow: 0px 0px 0px 4px #EEE2D4 inset;
}

.lien span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.lien:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

.lien:after {
  background: #DCD0C5;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}

.lien:hover:after {
  background: #DCD0C5;
  border: 20px solid #DCD0C5;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .pinterest:hover,
.wrapper .pinterest:hover .tooltip,
.wrapper .pinterest:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

.recettes{
    margin: 2vw;
    background-color: rgba(246, 239, 222, 0.9);
    width: 60vw;
}

.recettesAccueil{
    margin: 2vw;
    background-color: rgba(246, 239, 222, 0.9);
    width: 40vw;
}

.titreRecettes{
    font-size: larger;
    padding: 10px;
    font-family: 'Cheque Bold';;
}
.titreRecette{
    font-size: large;
    padding: 5px;
}

.recette {
    font-size: medium;
}

#recette2, #image2 {
    display: none;
}

#recette3, #image3 {
    display: none;
}

.image{
    width: 300px;
    height: 250px;
    padding: 1vw;
}

#blocRecettes{
    display: flex;
}

#img_recette{
    display: flex;
    align-self: center;
    background-color: rgba(246, 239, 222, 0.9);
    margin-bottom: 1vh;
}

.recetteText{
    margin: 10px;
    word-wrap: break-word;
}

.grosBloc {
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 239, 222);

}

#recetteEtCategorie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menuCategorie{
    display: flex;
    justify-content: center;
    margin: 2vw;
    padding: 1.5vw;
    background-color: rgba(246, 239, 222, 0.9);
}

#afficheResult{
    background-color: rgba(246, 239, 222, 0.9);
    margin: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    font-size: 1.5vw;
    margin-left: 40%;
    margin-right: 40%;
}

.resultRecherche:hover{
    font-size: 1.6vw;
}

.resultRecherche{
    padding: 0.9vw;
}

.blocRecette{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.categorieCheckBox{
    padding: 10px;
    font-size: 20px;
}

#validerCategorie{
    font-family: 'Gilda Display';
    background-color: #bfb4ad;
    font-size: 20px;
    padding: 5px;
    border: solid;
    border-width: 1.5px;
}

#validerCategorie:hover{
    font-size: 21px;
}

@media all and (min-width:1200px) and (max-width: 1600px) {

    .recettes{
        width: 50vw;
    }
    .recettesAccueil{
        width: 30vw;
    }

    #afficheResult{
        margin: 10%;
        font-size: 2.5vw;
        margin-left: 35%;
        margin-right: 35%;
    }

    .resultRecherche:hover{
        font-size: 3.2vw;
    }
}

@media all and (min-width:800px) and (max-width: 1200px) {
    .recettes{
        width: 45vw;
    }

    .recettesAccueil{
        width: 40vw;
    }

    #recetteEtCategorie{
        flex-direction: column;
    }

    #afficheResult{
        margin: 20%;
        font-size: 4vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .resultRecherche:hover{
        font-size: 5vw;
    }
}

@media all and (max-width: 800px) {

    #barreAutre{
        flex-direction: column;
        align-items: center;
    }

    #search_input{
        width: 30vw;
        height: 7vw;
    }

    #img_loupe{
        height: 4.8vh;
        width: 4.8vh;
    }

    .bouton {
        max-width: none;
        font-size: 2.6vw;
    }

    .recettes{
        width: 80vw;
    }

    .recettesAccueil{
        width: 75vw;
    }

    #recetteEtCategorie{
        flex-direction: column;
    }

    #blocRecettes{
        flex-direction: column-reverse;
    }

    .blocRecette{
        flex-direction: column-reverse;
    }

    #img_recette{
        margin-top: 1vh;
    }

    #afficheResult{
        margin: 50%;
        font-size: 7vw;
        margin-left: 10%;
        margin-right: 10%;
    }

    .resultRecherche:hover{
        font-size: 8vw;
    }
}

@media all and (min-width:450px) and (max-width: 600px) {

    #search_input{
        width: 35vw;
        height: 9vw;
    }

    #img_loupe{
        height: 5vh;
        width: 5vh;
    }

    .bouton {
        max-width: none;
        font-size: 3vw;
    }

    body {
        display:flex;
        flex-direction: column;
        }

    .navBarrEtRecherche {
        display: flex;
        padding-bottom: 0;
        flex-direction: column;
    }

    .bouffe {
        width: 45vw;
        height: 45vw;
    }

    .content {
        min-height: 100vh;
        margin-bottom: -10rem;
    }

    footer, .push    {
        height: 10rem;
    }

    #slider {
        align-items: center;
        width: 80%;
        margin: 5vw;
        max-height: 50vw;
        max-width: 50vw;
    }

    #dots-con{
        text-align:center;
        display: none;
    }

    #afficheResult{
        margin: 55%;
        font-size: 9vw;
        margin-left: 7%;
        margin-right: 7%;
    }

    .resultRecherche:hover{
        font-size: 10vw;
    }
}

@media all and (max-width: 450px) {

    #search_input{
        width: 40vw;
        height: 11vw;
    }

    #img_loupe{
        height: 5.2vh;
        width: 5.2vh;
    }

    .bouton {
        max-width: none;
        font-size: 4vw;
    }

    footer {
        bottom: 0;
        width: 100vw;
    }

    .bouffe {
        width: 45vw;
        height: 45vw;
    }

    #slider {
        align-items: center;
        width: 80%;
        margin: 5vw;
        max-height: 50vw;
        max-width: 50vw;
    }

    #dots-con{
        text-align:center;
        display: none;
    }

    #afficheResult{
        margin: 50%;
        font-size: 15vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .resultRecherche:hover{
        font-size: 17vw;
    }

}
